@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Krona+One&display=swap');

*{
    padding: 0;
    margin: 0;
}

header {
    background-color: rgb(25, 71, 86);
    color: rgb(227, 11, 11);

}

.imagen{

    width: 488px;
    height: 550px;
    top: 235px;
    left: 1030px;
    padding: 5px;
    border: 10px  yellow;
    
;

}

.Título_destaque{
        color: #22D4FD;
       
     
}
body
{
     height: 100vh;
     box-sizing: border-box;
     background-color: #433878;
    
   
}

.apresentacao{
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao_conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao_conteudo_titulo{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}
.apresentacao_conteudo_paragrafo{
    font-size: 24px;
    font-family: 'Josefin Sans', serif;
    color:ivory;
}

.apresentação_links_subtitulo{

    font-size: 24px;
    font-weight: 400;
    font-family: 'Krona one', sans-serif;
    color:ivory;

}
.apresentacao_links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;


}
.apresentacao_links_botao{
    border: 10px outset yellow;
    /* background-color:cornflowerblue; */
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    padding: 21.5px 0px;
    text-decoration:none;
}
p {color: #E4B1F0;
}
h1
{ color: #7E60BF

}
a{
    color: #fdd49e;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

footer
{
    color:#FFE1FF;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: yellow;
    font-size: 26px;

}
