@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Krona+One&display=swap');

*{
    padding: 0;
    margin: 0;
}

.cabeçalho{
    padding: 2% 0% 1% 8%;
    background-color: rgb(25, 71, 86);
    color: rgb(227, 11, 11);

}

.cabeçalho_menu{
    display: flex;
    gap: 80px;

}

.cabeçalho_link{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #22D4FD;
    text-decoration: none;

}

.imagen{
    display: flex;
    width: 488px;
    height: 550px;
    top: 235px;
    left: 1030px;
    padding: 5%;
    border: 10px  yellow;
    
;

}

.Título_destaque{
        color: #22D4FD;
       
     
}
body
{
     /* height: 100vh; */
     box-sizing: border-box;
     background-color: black;
   
}



.apresentacao{
    /* margin: 10%; */
    padding: 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao_conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao_conteudo_titulo{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}
.apresentacao_conteudo_paragrafo{
    font-size: 24px;
    font-family: 'Josefin Sans', serif;
    color:ivory;
}

.apresentação_links_subtitulo{

    font-size: 24px;
    font-weight: 400;
    font-family: 'Krona one', sans-serif;
    color:ivory;

}
.apresentacao_links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;


}
.apresentacao_links_botao{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 5px double rgb(25, 71, 86);
    /* background-color:cornflowerblue; */
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    padding: 21.5px 0px;
    text-decoration:none;
}
.apresentacao_links_botao:hover{  
    cursor: pointer;
    background-color: #272727;
}


.youtubeimagen{
    width: 35px;
}


h1
{ color: #7E60BF

}
a{
    color: #fdd49e;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.rodape{
  color: #272727;
    background-color: #22D4FD;
    text-align: center;
    font-family: 'Montserrat',sans-serif ;
    font-size: 24px;
    font-weight: 400;
    padding: 24px;

}
